<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/styles/style.css">
    
    <title>404</title>
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h3>{{text}}</h3>
    </div>

    {{>footer}}

    
</body>
</html>