<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/styles/style.css">
    
    <title>About</title>
    
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This is me:) -Vipul Sharma</p>
        <p> I have used mapbox and weatherstack to get the data.</p>
        <img class="me" src="/img/me.jpg" >
    </div>


    {{>footer}}
    
</body>
</html>